<div class = 'banner'>
  <b>Vibrant Technologies Ltd</b>
</div>
<div class = 'logout_menu'>
<% if user_signed_in? %>
  Welcome, <%= current_user.full_name %> |
  <%= link_to 'Settings', new_setting_path  %> |
  <%= link_to('My Account',  destroy_user_session_path, :method => :delete) %> |
  <%= link_to('Sign Out',  destroy_user_session_path, :method => :delete) %>
<% end %>
</div>

<% if user_signed_in? && current_user.role_id != 3 %>
  <%= render '/menus' %>
<% end %>
