<!DOCTYPE html>
<html>
<head>
  <title>OnBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="app_container">
    <%= render '/banner' %>
    <div class="app_client_area">
       <%= yield %>
    </div>
  </div>
</body>
</html>
